.dark {
  --bg: #050505;

  --primary-border: rgb(75 85 99);
  --primary-bg: #222223;
  --primary-color: #fff;
  --secondary-color: rgba(255,255,255,.5);

  --menu-color: rgba(255,255,255,.7);
  --hover-menu-color: #f49531;

  --content-header-color: rgba(255,255,255,.9);

  --table-header-bg: #262627;
}