@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Technica_Regular';
  src: local('Technica_Regular'), url(../fonts/Technica_Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Technica_Semi_Bold';
  src: local('Technica_Semi_Bold'), url(../fonts/Technica_Semi_Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Digital';
  src: local('Digital'), url(../fonts/Digital.ttf) format('truetype');
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: Technica_Regular;

  // @include breakpoint-down(medium) {}
}

button, input, select {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;

  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 10px;
    gap: 5px;
  }

  &.ghost {
    background: transparent;

    &.negative {
      margin-right: -10px;
    }
  }

  &.default {
    border: 1px solid rgba(0,0,0,.2);
    background: transparent;
    color: var(--menu-color);

    &:hover {
      background: rgba(0,0,0,.05);
    }
  }

  &.success {
    background-color: #22c55e;
    background: linear-gradient(to top, #166534, #22c55e);
  }

  &.warning {
    background-color: #eab308;
    background: linear-gradient(to top, #854d0e, #eab308);
  }

  &.info {
    background-color: #0ea5e9;
    background: linear-gradient(to top, #075985, #0ea5e9);
  }

  &.danger {
    background-color: #ef4444;
    background: linear-gradient(to top, #991b1b, #ef4444);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .6;
  }
}

a {
  text-decoration: none;
  color: #000;
  height: auto;
}

ul, ol {
  list-style: none;   
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-sb {
    align-items: space-between;
  }

  &-ai-fs {
    align-items: flex-start;
  }

  &-ai-fe {
    align-items: flex-end;
  }

  &-col {
    flex-direction: column;
  }

  &-end {
    justify-content: flex-end;
  }

  &-1 {
    flex: 1;
  }
}

.gap-1 {
  gap: 2px;
}

.gap-2 {
  gap: 4px;
}

.gap-3 {
  gap: 6px;
}

.gap-4 {
  gap: 8px;
}

.gap-5 {
  gap: 10px;
}

.p-2 {
  padding: 4px;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
}

.main-body {
  flex: 1;
  display: flex;
}

.content-body {
  flex: 1;
  height: 100%;
  background-color: var(--primary-bg);
  padding: 0 0 0 20px;
}

.container {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.font-family-bold {
  font-family: Technica_Semi_Bold;
}

.font-family-digital {
  font-family: Digital;
}

.bold {
  font-weight: 600;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--primary-border);
  padding: 10px;
  border-radius: 8px;
  background-color: var(--primary-bg);
  width: 100%;

  &.col {
    flex-direction: column;
    align-items: baseline
  }
}

.apex-chart {
  width: 100%;
}

.title {
  @extend .flex;
  @extend .flex-ai-c;
  gap: 10px;
  color: var( --content-header-color);
  font-weight: 600;

  i {
    font-size: 18px;
  }
}

.form {
  @extend .full-width;
  @extend .flex;
  @extend .flex-jc-c;

  &-wrapper {
    margin-top: 10px;
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.225);

    .greetings {
      @extend .full-width;
      @extend .flex;
      @extend .flex-col;
      @extend .flex-ai-c;

      gap: 20px;
      font-size: 18px;
      font-weight: 600;
      color: #00a6d6;

      span {
        text-align: center;
        font-size: 14px;
        color:rgba(0,0,0,0.7);
      }
    }

    form {
      @extend .full-width;
      @extend .flex;
      @extend .flex-col;

      gap: 10px;
      margin-top: 40px;;

      .form-group {
        @extend .flex;
        @extend .flex-col;
        
        width: inherit;
        gap: 2px;
        padding: 0 20px;
        position: relative;

        label {
          color:rgba(0,0,0,0.5);
          font-size: 13px;
          padding-left: 5px;
        }

        input, button, select, textarea {
          @extend .full-width;

          height: 45px;
          border-radius: 10px;
          border: 1px solid rgba(0,0,0,.1);
          text-indent: 12px;
          font-size: 16px;
          background: none;
          cursor: text;
          color: rgba(0,0,0,.7);

          &:focus {
            border-color: #00a6d6;
          }

          &.submit {
            margin: 20px 0;
            cursor: pointer;
            color: #fff;
            background: linear-gradient(to top, #005972, #00a6d6);
            border: none;

            &.disabled {
              opacity: .7;
              cursor: not-allowed;
            }
          }
        }

        select {
          appearance: none; /* Hides the arrow in most browsers */
          -webkit-appearance: none; /* Hides the arrow in WebKit browsers */
          -moz-appearance: none;
          text-indent: 0;

          option {
            font-size: 14px;
          }
        }

        span {
          position: absolute;
          right: 30px;
          color: rgba(0,0,0,.3);
          top: 50%;
          transform: translateX(-50%);
          font-size: 15px;
        }

        .response-message {
          font-size: 11px;
          color: #fff;
          padding: 3px 10px;
          font-weight: bold;
          width: 100%;
          text-align: center;
          opacity: .7;
          pointer-events: none;
          margin-bottom: -30px;

          &.invalid {
            background: linear-gradient(to right, rgba(229,74,74,.1), #E54949, rgba(229,74,74,.1));
            border-top: 2px solid #E54949;
            border-bottom: 2px solid #E54949;
          }

          &.success {
            background: linear-gradient(to right, rgba(73,229,196,.1), #49E5C4, rgba(73,229,196,.1));
            border-top: 2px solid #49E5C4;
            border-bottom: 2px solid #49E5C4;
          }
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #949494; 
}