:root {
  --bg: #f9fafc;
  --border-color: rgba(0,0,0,.1);

  --nodata-color: #D8D8D8;
  --nodata-border-color: #fff;

  --primary-border: rgb(229 231 235);
  --primary-bg: #fff;
  --primary-color: #000;
  --secondary-color: rgba(0,0,0,.5);
  --info-color: rgba(0,0,0,.4);

  --menu-color: rgba(0,0,0,.7);
  --hover-menu-color: #f49531;

  --content-header-color: rgba(0,0,0,.7);

  --table-header-bg: #ededed;
}